[2019-12-27 11:57] synackray opened #1 "Device types in more than one vCenter instance change tags on every run"
### Environment
* Python version: 3.6.8
* NetBox version:  2.6.7
* vCenter NetBox Sync version: 1.0.0-rc

### Steps to Reproduce
1. Add multiple vCenter hosts in the `settings.py` file under the `VC_HOSTS` variable.
2. Execute `run.py` and let it complete sync to both systems
3. Check the NetBox change logs. Device types which have previously been created for one vCenter instance are updated on ea

[2019-12-27 15:22] #1 closed

[2019-12-27 16:32] dkuhnAtHome opened #3 "Traceback error when collecting information on disconnected vCenter host"
### Environment
* Python version:  Python 3.6.9
* NetBox version: v2.6.8
* vCenter NetBox Sync version:  v1.0.0-rc

### Steps to Reproduce
1.  Disconnect a vCenter host
2. Execute run.py
3. Error gets thrown when collecting interface object info

### Expected Behavior
Ignoring disconnected hosts

### Observed Behavior

[code]

[2019-12-27 18:03] synackray commented on #3
That's a fantastic find! I'm looking into this. Thanks so much!

[2019-12-27 23:24] synackray commented on #3
@dkuhnAtHome I perused through pyVmomi and I'm admittedly not in love with the http_client and session handler. I've added exception handling for these and a few other cases.

I was however not able to specifically replicate what you've done. When I go into vCenter and disconnect a host, vCenter still returns a cached instance of its data with the exception of status being returned as disconnected

[2019-12-28 18:17] synackray opened #4 "Cluster Type "VMware ESXi" not found"
### Environment
* Python version:  3.6.8
* NetBox version: 2.6.7
* vCenter NetBox Sync version:  1.0.0-rc

### Steps to Reproduce
1. Install fresh NetBox instance
2. Run script in debug mode

### Expected Behavior
vCenter objects sync without errors

### Observed Behavior
The following error is received if the "VMware ESXi" cluster type does not already exist.
[code]

_Sourced from [Reddit](https:

[2019-12-28 18:21] synackray commented on #3
I was able to reproduce and successfully saw exceptions being skipped and then picked up on the next run when available. I'll go ahead and merge this in. Please feel free to report back if you see otherwise. I'll leave it open for a few days.

[2019-12-28 18:38] #4 closed

[2019-12-28 22:15] synackray opened #8 "Cleanup function fails when multiple vCenter instances have overlapping parents"
### Environment
* Python version:  3.6.8
* NetBox version: 2.6.7
* vCenter NetBox Sync version:  1.0.0-rc.1

### Steps to Reproduce
1. Add more than 1 vCenter instance in `settings.py`
2. Complete a full sync of both vCenter instances
3. Execute `run.py -c`

### Expected Behavior
All support synced vCenter objects are deleted

### Observed Behavior
[code]

[2019-12-28 23:30] #8 closed

[2019-12-29 17:32] synackray opened #14 "Orphaned objects are not having tags removed"
### Environment
* Python version:  3.6.8
* NetBox version: 2.6.7
* vCenter version: 6.7.0
* vCenter NetBox Sync version:  1.0.0-rc.1

### Steps to Reproduce
1. Execute `run.py` and let sync complete
2. In NetBox, add the `Orphaned` tag to any object that was synced and supports tagging
3. Execute `run.py` again. The device will not have its tag removed.

### Expected Behavior
The script will deter

[2019-12-29 17:34] synackray commented on #14
This appears to be an artifact of the fixing issue #1 and of the compare_dicts function. It would be quickest to catch this before either of those steps.

[2019-12-29 17:39] #14 closed

[2019-12-30 14:07] microsoftdealer opened #16 "HTTP POST error when having Model number with nonsupported symbols"
### Environment
* Python version:  3.6.9
* NetBox version: 2.6.9
* vCenter version: 5.5.0
* vCenter NetBox Sync version: v1.0.0-rc

### Steps to Reproduce
1. Have a node in cluster with model number with nonsupported symbols
2. Install this project, configure necessary files.
3. run "run.py"

### Expected behaviour
I was expecting, that tool would transofrm unsupported mode Model into something re

[2019-12-30 14:45] damnitall opened #17 "ProxyError"
**Environment**
CentOS 7.7.1908
Python 3.6.8
NetBox v2.6.9
Proxy needed for anything "internet related". Package name: **cntlm**

**Steps to Reproduce**
Execute run.py
Error gets thrown:
[code]

**Additional information**
[code]

[code]

**Troubleshooting**

- removing the proxy in **/etc/environment** did not help
- inserting *127.0.0.1* in **settings.py** did not help
- and half a dozen things i

[2019-12-30 16:09] synackray commented on #16
Thanks for the report @microsoftdealer. Within the NetBox Device Types model I see there is an acceptable pattern for the slug value. I will test this further and report back.

![image](https://user-images.githubusercontent.com/24757919/71589955-0f61ad80-2b27-11ea-92c2-95ff7e751111.png)

[2019-12-30 16:29] synackray commented on #17
Hello @damnitall. Thank you very much for the report, and also thanks for including the cntlm package name. I will review this and get back to you.

[2019-12-30 19:51] synackray opened #18 "vCenter host tag is inaccurate if an IP address is used"
### Environment
* Python version:  3.6.8
* NetBox version: 2.6.7
* vCenter version: 6.7.0
* vCenter NetBox Sync version: 1.0.0-rc.1

### Steps to Reproduce
1. Add a vCenter host with an IP address in `settings.py`
2. Execute `run.py`

### Expected Behavior
If the vCenter host is an IP address the tag should be the full IP, otherwise the hostname of the FQDN should be used

### Observed Behavior
Th

[2019-12-30 20:25] #18 closed

[2019-12-30 21:23] #16 closed

[2019-12-30 22:30] synackray opened #20 "Github Action for pull requests"
**Is your feature request related to a problem? Please describe.**
Currently pull requests are being ran through manual test cases before being merged. This is tedious and error prone.

**Describe the solution you'd like**
GitHub Actions should be used to complete a full validation of the application. The following tasks should complete successfully within the job:

*Download all dependencies
*Ver

[2019-12-31 00:36] microsoftdealer commented on #16
@synackray , thanks for the quick fix!

[2019-12-31 09:55] damnitall commented on #17
update:

i managed to make it work by disabling the proxy:
[code]

this is not really a solution but... it is an improvement

[2019-12-31 10:26] microsoftdealer opened #21 "IP problem in config."
### Environment
* Python version: 3.6.9
* NetBox version: 2.6.9
* vCenter version: 5.5.0
* vCenter NetBox Sync version:  v1.0.0 Release

### Steps to Reproduce
1. IP-address in VC host address in the settings.py
2. run "run.py"

### Expected Behavior
I wanted to see successfull tag setting, but tool cant set a tag with ip address - so, I've tried to change it to the domain name - and it works.

##

[2019-12-31 10:42] microsoftdealer commented on #21
Unfortunately, even changing IP to domain name doesn't work in fact.
2019-12-31 10:21:42,060 [INFO] NetBox device_types object 'Flex System x240 Compute Node -[8737H2G]-' match current values. Moving on.
2019-12-31 10:21:42,061 [INFO] Finished sync of 1 vCenter hosts object to NetBox device_types object.
2019-12-31 10:21:42,062 [INFO] Starting sync of 3 vCenter hosts objects to NetBox devices obje

[2019-12-31 11:56] synackray commented on #21
Your reports have been so helpful. If I remember well the server role is part of the default/example NetBox data and my builds have assumed that exists. This introduces a great point that I should not assume that and instead do a clean build with zero data and test from that state only.

I'll also get this patched up. Thanks as always!

[2019-12-31 12:24] synackray commented on #21
Your point about tagging IP addresses is also valid. In a few test cases I've found searching for tags by name value <IP Address> will return a HTTP 400 stating the IP address is not a valid option even though it complies to the requirements of the NetBox object model.

What we might be able to do is pass the tag name as the IP address with a different slug then search on the slug. Let me test tha

[2019-12-31 13:14] synackray commented on #20
For the 2 vCenter instances both the IP Address and FQDN of each vCenter server should be used. The expected behavior is the script will parse the vCenter server twice and objects will be tagged with both vCenter servers where it was found.

[2019-12-31 14:31] synackray commented on #17
@damnitall Thank you for the update. Unfortunately, I do not have the infrastructure to test cntlm specifically, but I have made an effort to look in to the problem.

It appears this issue is specific to using cntlm as noted [here](https://stackoverflow.com/questions/48283909/using-python-requests-with-cntlm-corporate-proxy). This is further confirmed by the requests [documentation](https://3.pyth

[2019-12-31 14:50] synackray commented on #21
After passing initial tests I have submitted a PR into `develop` for this. I will run it through the full test cycle and then bring it to production. Thanks!

[2019-12-31 15:03] damnitall commented on #17
thank you for your quick answer and for taking the time to troubleshoot this "mess of a setup i have at work".

unfortunately your solution did not work... continues to timeout.

however i found a solution that works fine for me:
[code]

these lines added on run.py solved my issues without having to destroy the proxy configuration for the OS :)

PS: Feel free to close the ticket if you want. if yo

[2019-12-31 20:10] synackray commented on #17
Thanks for the solution. I'm sure you're not the only one who will run into this situation. Happy New Year!

[2019-12-31 20:10] #17 closed

[2020-01-01 14:45] #21 closed

[2020-01-01 14:46] #3 closed

[2020-01-01 16:26] microsoftdealer commented on #21
Great work, thanks! :)

[2020-01-05 12:39] synackray opened #24 "Pruning generates traceback on interface objects"
### Environment
* Python version:  3.6.8
* NetBox version: 2.6.11
* vCenter version: 6.7.0
* vCenter NetBox Sync version:  1.0.0-rc.3

### Steps to Reproduce
1. Execute `run.py` and allow sync to complete
2. Delete interface object from a virtual machine within vCenter
3. Modify `settings.py` variable `NB_PRUNE_ENABLED` to `True`.
4. Execute `run.py` again.

### Expected Behavior
The deleted inter

[2020-01-05 12:46] synackray commented on #24
Reviewing the KeyError the `last_updated` field does not exist in the `/dcim/interfaces/{id}` or `/virtualization/interfaces/{id}` object models. I [posted](https://groups.google.com/forum/#!topic/netbox-discuss/WfVheuSm_4Q) this to the NetBox discussion list to see if this is version specific or a generic as well as whether this is desired behavior.

In the meantime I will create a workaround for

[2020-01-05 13:30] synackray opened #25 "Handle changes to API in NetBox v2.7.0"
**Is your feature request related to a problem? Please describe.**
Handle changes to API in [NetBox v2.7.0](https://github.com/netbox-community/netbox/releases/tag/v2.7-beta1) (2.8.0 deprecation).

API Choice Fields Now Use String Values ([#3569](https://github.com/netbox-community/netbox/issues/3569))

[2020-01-05 13:33] synackray commented on #20
Created 2 vCenter instance and attached hosts with virtual machines.

[2020-01-05 13:33] synackray commented on #20
Validated use of Github Secrets with Github actions

[2020-01-05 13:35] synackray commented on #24
Running commits through manual testing before moving to `develop` branch

[2020-01-05 13:52] #24 closed

[2020-01-06 16:22] synackray opened #27 "Allow for sync with NetBox if it contains an untrusted cert"
**Is your feature request related to a problem? Please describe.**
Some environments using SSL/TLS contain either self-signed or untrusted certificates. This currently generated a SSLError and the script will not continue.

**Describe the solution you'd like**
Allow the user to set that they are comfortable with insecure TLS and proceed with sync.

**Describe alternatives you've considered**
It is

[2020-01-06 20:11] #27 closed

[2020-01-14 10:06] phbureau opened #31 "Generic banned asset tags are not accounting for word case"
Hello,
First of all thanks for this wonderful plugin ;!

I have tried to import two esxi devices (cisco b200m5).
It works fine for the first one but not for the second one.
I saw that the first has an "asset tag" which is "UNKNOWN". -->>

And here is the error :

[code]

So I understood that these two machines got the same asset tag (UNKNOWN) which is not acceptable.

Have you got an idea on how I

[2020-01-14 10:15] synackray commented on #31
Hi @phbureau! Thanks for the report. You're spot on that the asset tags must be unique. I have a an existing banned asset tag word list to match against for situations like these. Let me make a few adjustments and I'll have an update for you shortly.

[2020-01-14 10:33] synackray commented on #31
I've updated the banned asset tag check to account for case. `Unknown` is already disallowed and now it should catch. I'm going to place this in the `develop` branch for now, run it through full testing, and then I'll promote it into `master` seeing as this is a very minor adjustment.

[2020-01-14 10:57] phbureau commented on #31
I retried with your develop branch, it is working very well, no more errors !
Thank you very much for your reactivity !

[2020-01-14 10:57] #31 closed

[2020-01-14 11:14] inetman28 opened #33 "Netbox virtual interfaces do not support tag filter"
### Environment
* Python version:  3.6.8
* NetBox version: 2.6.7 and 2.6.11
* vCenter version: 6.5.0 and 6.7.0
* vCenter NetBox Sync version:  1.0.0

### Steps to Reproduce
1. set up settings.py with two vcenter instances
2. python3 run.py -v

### Expected Behavior
I expected that all vcenter objects will sync with netbox

### Observed Behavior
I have two vcenter servers: vcsmgmt and vcsres-1. Whe

[2020-01-14 12:11] synackray commented on #33
Thanks for the report @inetman28! I suspect the issue is related to the way the tags are being created. Either the tag has a name or slug value that not conforming to NetBox.  When searching objects by tag NetBox is returning all items instead of the items that would otherwise contain the tag.

Would you mind sharing the tag name and slug for me? The output of the following URL would be very helpf

[2020-01-14 12:22] inetman28 commented on #33
hi
yes, I can

[code]

[2020-01-14 14:38] synackray commented on #33
Thank you! You've presented quite an interesting situation. Reviewing the NetBox API docs I see we can assign tags to `/virtualization/interfaces/` via POST/PUT/PUSH methods but the GET method does not support the `tag` filter. I've documented this for NetBox v2.6.11 with the below screenshots.

I will take a bit of time to review this and see what alternative methods we have of comparing and sync

[2020-01-14 23:23] synackray commented on #33
I've submitted a patch for this issue. It works around the current limitation by collecting all interfaces and then filtering by tag post collection. I will check with the upstream NetBox community project to determine if it's the desired ability to tag and object without being able to query those tags as well.

[2020-01-15 09:02] synackray commented on #33
I've applied the patch in `develop` and will run it through full testing before merging into `master`. Thanks again for the report!

[2020-01-15 09:02] #33 closed

[2020-01-17 08:13] inetman28 opened #37 "Add already exist esxi-hosts in netbox to cluster object in netbox"
**Is your feature request related to a problem? Please describe.**

If esxi-hosts already exist in netbox with correct fqdn then this host actualize after run vcenter-netbox-sync (physical and virtual interfaceses), but host not added to cluster.

**Describe the solution you'd like**
We have already created early esxi-hosts in netbox.

**Additional context**
![Screenshot_1](https://user-images.git

[2020-01-18 09:53] synackray commented on #37
Hello @inetman28! I'll review the details of this and try to reproduce the situation. If I am understanding correctly, you have pre-created ESXi hosts inside of NetBox and I see that you have also manually created interfaces. You would like the behavior that the manually created ESXi hosts are properly added to the cluster they belong to.

As you've shown the script is able to identify the host an

[2020-01-18 20:28] inetman28 commented on #37
yes, I can

`
2020-01-16 13:54:11,762 [DEBUG] Unaccepted request data: {'name': 'vs202.myserver.local', 'device_type': {'model': 'UCSC-C480'}, 'device_role': {'name': 'Server'}, 'platform': {'name': 'VMware ESXi'}, 'site': {'name': 'vCenter'}, 'serial': 'XXXXXXXX', 'asset_tag': 'CL-MGMT-01', 'cluster': {'name': 'CL-MGMT-01'}, 'status': 1, 'tags': ['Synced', 'vCenter', 'vc-mgmt-01']}
`

Also I note

[2020-01-21 16:58] thiagoferr opened #38 "Python error run.py"
### Environment
* Python version:  3.7.5
* NetBox version: v2.6.11
* vCenter version: 6.7.0.3
* vCenter NetBox Sync version:  v1.1.0

### Steps to Reproduce
1. python3 virtual environment defined
2. defined settings in setting.py
3. python3 run.py -v

### Expected Behavior

Sync all objects from vCenter and complete script running.

### Observed Behavior

When I execute run.py the sync and authent

[2020-01-21 17:34] synackray commented on #38
Hello, @thiagoferr! Thanks for the report. I'll start reviewing and get back to you with an update.

[2020-01-21 17:58] synackray commented on #38
I've created the `38-better-link-speed-detection` branch for this and posted a potential fix in commit fe91ad46c8fff60ce6f99d8d9775527d3cb8f2d6. I am going to run this through all normal testing then promote it to `develop` for full regression testing.

Feel free to grab the branch and test as well if you'd like. Your feedback would be much appreciated. Thanks!

[2020-01-21 18:57] thiagoferr commented on #38
Hello, @synackray
I downloaded the branch, It's funcional! All VMs were sync.

Thank you!

[2020-01-21 19:11] synackray commented on #38
Fantastic news! Tests have also passed here, so I'll put this into `develop` and setup the workflows to get it promoted to `master`. Have a great day!

[2020-01-21 19:11] #38 closed

[2020-01-29 22:26] jaimehrubiks opened #41 "Requests with bad status code generate traceback"
### Environment
* Python version:  Python 3.7.6 (also tried Python 3.7.5)
* NetBox version: v2.6.12
* vCenter version: vSphere Client version 6.7.0
* vCenter NetBox Sync version:  Tried branches: master & develop

### Steps to Reproduce
1. setup settings.py
2. python3 run.py

### Expected Behavior
No errors

### Observed Behavior
It works up until a point. It populates some information on Netbox,

[2020-01-30 11:34] synackray commented on #41
Hello @jaimehrubiks! It's a pleasure to meet you. Seeing as this is failing on the creation of a new object, I'll need to see the object details to try and modify the response collection to see if we can sort out why it's not crashing.

Give me a few moments and I'll push a branch that we can do further testing against. Thanks!

[2020-01-30 11:35] klaver opened #42 "Query DNS for PTR lookups and populate dns_name field for IP address objects"
I would like to know if it's possible to add a DNS query for each IP address found, to resolve it's PTR record and store the result to the dns_name field?

[2020-01-30 11:58] synackray commented on #41
Would you kindly pull the latest commit from `41-request-json-failure` branch and re-run and then provide the debug data? Thank you so much!

[2020-01-30 12:00] synackray commented on #42
Helllo @klaver! I very much like this idea. :+1: I will play around with adding this as an optional feature that can be controlled through `settings.py`.

[2020-01-30 12:04] synackray commented on #20
Infrastructure was not approved for long-term pipelines. I will continue to work on finding a home for the pipeline.

[2020-01-30 12:04] #20 closed

[2020-01-30 12:07] synackray opened #43 "Support unique credentials per vCenter host"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to specify unique credentials for each vCenter host defined in `settings.py`.

**Describe the solution you'd like**
Allow the each vCenter host to have its own credentials.

**Additional context**
The implementation of this feature must not break current users who have not defined unique credentials.

[2020-01-30 15:21] jaimehrubiks commented on #41
Great!, I'll try soon, will let you know.

[2020-01-30 15:33] jaimehrubiks commented on #41
@synackray
https://pastebin.com/w059Cra5

[2020-01-30 15:48] synackray commented on #41
AHA!

[code]

The asset tag field is an empty string and is not being properly caught in the banned list. Let me work on an update and get back to you with an update to test.

[2020-01-30 16:47] synackray commented on #41
@jaimehrubiks Do you mind pulling the latest commit and giving it a shot? I tested locally by overwriting my asset tags with empty strings and it seems to function, but I'd like your feedback. Thanks!

[2020-01-30 17:34] jaimehrubiks commented on #41
@synackray
Thanks, it works great now. And thanks for this amazing tool
So what is asset_tag supposed to be used for? Why don't I have mine populated from vCenter

[2020-01-30 17:39] synackray commented on #41
Some companies place asset tags on all of their hardware in order to track their inventory and well.. assets. It is typically a unique serial number or identifier placed onto the hardware. If your company does this, and then populates the data into the hardware BIOS or host configuration then it would be picked up and placed in the NetBox host model asset tag field.

I'm glad this works! I'll star

[2020-01-30 20:23] synackray commented on #43
@inetman28 I have added a backwards compatible option for per vCenter host credentials. I would greatly appreciate if you're willing to pull branch `43-vcenter-unique-credentials` and give it a shot. Thanks for all your continued help.

[2020-01-31 12:38] inetman28 opened #45 "NetBox formatting rules not applied to object relationships"
### Environment
* Python version:  3.6.8
* NetBox version:  2.6.7
* vCenter version: 6.5.0/6.7.0
* vCenter NetBox Sync version:  1.0.0

### Steps to Reproduce
1. ./run.py -v

### Observed Behavior

if vcenter VM name more then 64 symbols then vcenter-netbox-sync truncate length to 64 symbols and create VM in NetBox but tried create interface with full name of VM (before truncate)

2020-01-30 11:30

[2020-01-31 15:59] synackray commented on #45
Hello @inetman28! You're absolutely right. It looks like I missed the truncation rules for some of the object relationships. Would you mind testing the latest commit in branch `45-vm-ints-not-truncating-vm-name` and letting me know if it's sorted out? I'll also try spinning up a VM with a name longer than 64 characters and make sure it goes well.

As always, thanks for your reports and feedback.

[2020-01-31 19:37] abhilashchinthalapudi commented on #42
This would be a great add-on.
@synackray  Not sure if I need to request a new feature request ,want to check it here before I open one,
Is there a possibility to add primary_ip assignment as well so that the IP shows up under the virtual Machines List?

[2020-01-31 19:49] jaimehrubiks opened #46 "Add primary_ip by default"
@abhilashchinthalapudi also suggested it [here](https://github.com/synackray/vcenter-netbox-sync/issues/42) but a new issue is a better place

I find that it would be very useful to have a primary IP for each VM set. I have tried to analyze the Netbox API but I could not find useful information. This feature is important because other tools that use Netbox as the single source of truth (like ansib

[2020-01-31 19:54] synackray commented on #42
I see you opened a feature for it. I'll reply in detail there. Thanks!

[2020-01-31 20:41] synackray commented on #46
Hi, @jaimehrubiks! This is a very fair ask. However, it is a bit of a challenge to accomplish. I remember looking at this originally and finding that vCenter does not designate a primary IP. Rather, it returns a list of all available.

I want to be certain of that, so let me go back and check the data models for the VMware SDK. I'll let you know what I find. THanks!

[2020-01-31 20:50] jaimehrubiks commented on #46
I understand. I do think that vCenter will never provide a "primary ip" because there is no such thing in the real world. What is a primary ip anyway? The one use to route traffic to the default internet (0.0.0.0)? The one used for management purposes? I think it is a matter of users' preferences.

The problem here is to have a value directly mapped to the vm entry that can be used to easily get t

[2020-01-31 21:03] synackray commented on #46
I can most definitely offer an option to set one of the IPs as the primary. If I remember well vCenter always sets the first IP address in the list as the primary. Let me verify and try to create parity between the two.

This logic will also need to make sure it accounts for the IPv4/6 allowed networks so an ignored IP is not accidentally qualified. That will require some more complex logic. Thank

[2020-01-31 21:04] jaimehrubiks commented on #46
Thank you. Let me know if you want testing!

[2020-02-01 18:02] synackray commented on #45
Promoted to `develop` branch. Thanks again for your report!

[2020-02-01 18:02] #45 closed

[2020-02-01 18:02] synackray commented on #43
Promoted to `develop` branch.

[2020-02-01 18:02] #43 closed

[2020-02-01 18:06] synackray commented on #37
Hello, @inetman28! I am still getting feedback on this. One of the general rules I've been trying to stick to is that any objects which are synced should not overwrite manually created objects without explicit permission. This ensures we try to still follow the guidelines of NetBox and do not risk "damaging" the reputation of data inserted when a human has already manually entered it in.

Perhaps

[2020-02-02 23:04] synackray commented on #46
@jaimehrubiks I drafted up a method of setting the primary IP this weekend. Would you mind pulling the latest commit in `46-add-primary-ip` and providing your feedback when you have a chance? Thanks!

[2020-02-03 05:02] jaimehrubiks commented on #46
Great news! will give it a try tomorrow (in around 12 hours)

[2020-02-03 18:38] acaronmd opened #49 "can't place server in existing rack"
When syncing, all found items (servers, vms, clusters) are stored in a site named vCenter. This doesn't allow me to place the servers found into existing racks located in my existing sites, unless I remove the servers/clusters from the vCenter site, but if I do, I imagine I'll get dupes on the next sync. Is the vCenter site necessary to pull all of this together?

[2020-02-03 21:16] jaimehrubiks commented on #46
@synackray it worked once, when using a netbox instance which did already have devices and ip addresses. But this branch seems to fail in a fresh install, because it does not properly create virtual interfaces nor ip addresses at all. Let me get more details

[2020-02-03 22:18] synackray commented on #46
Very interesting. Thank you so much for your testing.

I will also run this through a few cycles of fresh and mixed environment builds before promoting to `develop` then. I would like to be certain not to break anything.

[2020-02-03 22:21] synackray commented on #49
Hi, @acaronmd! The site is necessary on the creation of objects as it is a required field. Other than that, there is no particular reason it would be needed after after the fact.

Let me take some time to review the object structures and be certain there would be no negative impact to ignoring the site field after creation. I very much like your idea of allowing the hardware to be placed in the ri

[2020-02-04 10:47] Razmuzh opened #50 "Handle value changes in NetBox API v2.7"
Getting this error when trying to import:

2020-02-04 10:39:27,978 [DEBUG] Received HTTP Status 200.
2020-02-04 10:39:27,979 [DEBUG] NetBox GET request OK; returned 200 status.
2020-02-04 10:39:27,980 [INFO] Netbox virtual_interfaces 'vNIC0' object not found. Requesting creation.
2020-02-04 10:39:27,980 [DEBUG] Sending POST to 'https://netbox.xxx.dev/api/virtualization/interfaces/' with data '{'vi

[2020-02-04 11:23] synackray commented on #50
Hello @Razmuzh! What version of NetBox are you using? I suspect there has been a recent change to the interface type definitions which I'll need to account for. Would you please confirm? Thanks!

NetBox v2.6.12
![image](https://user-images.githubusercontent.com/24757919/73740516-a209f380-4748-11ea-9bab-a318bdd1c084.png)

NetBox v2.7.3
![image](https://user-images.githubusercontent.com/24757919/737

[2020-02-04 12:14] Razmuzh commented on #50
I have NetBox v.2.7.1.
[code]
Is it a day to get around it?

Thanks!

R.

[2020-02-04 12:27] synackray commented on #50
Thanks for confirming. It's not a huge deal. I'll work on updating for NetBox v2.7 API and report back when it's ready for testing.

[2020-02-04 18:45] synackray commented on #50
@Razmuzh - I think think I've got a backwards compatible solution that will support Netbox API v2.7. Would you mind testing the latest commit in the ` 50-interface-type-updates` branch? Thanks!

[2020-02-04 18:49] synackray commented on #25
This is being handled in #50.

[2020-02-04 18:49] #25 closed

[2020-02-04 19:44] synackray commented on #50
Passed all functional tests in NetBox v2.6.12 and NetBox v2.7.2 on my side.

[2020-02-04 20:14] jaimehrubiks commented on #46
I've been a little busy this week, that is why I couldn't test it as much as I wanted. I'll let you know when I run more tests.

[2020-02-04 20:21] jaimehrubiks opened #51 "Cleanup tasks fail for IP defined vCenter hosts"
I found this error in my setup when trying to clean.

I did notice that all my elements (devices, vms, ips...) have these three tags: "Synced", "vCenter" and "10.102.138.31"
The last one looks weird, maybe it's the one causing errors. That is in fact the IP of the following VM: "nxt-vcenter-01"

jaimejoseba at CH-JJOSEBA-MBP in ~/working/vcenter-netbox-sync
$ python3 run.py -c -v
2020-02-04 14:15:

[2020-02-04 20:23] synackray commented on #46
No worries. It's gone well on my side so far. I will likely promote to `develop` by the end of the week and then pass it to full regression testing. Thanks for all your help!

[2020-02-04 20:28] synackray commented on #51
Hello again, @jaimehrubiks! Let me take a quick look at this. The tags are derived from the vCenter hosts configuration in `settings.py`. Did you define the vCenter host as an IP address? I thought I had properly caught and formatted these cases but clearly I missed something. I'll let you know!

[2020-02-04 20:51] jaimehrubiks commented on #51
I did @synackray, it is an IP address :P

[2020-02-04 21:07] synackray commented on #51
:') No worries. This was a simple mistake on my part. After adjustments here is what I see.

[code]

[2020-02-04 21:17] synackray commented on #51
Merged into `develop`.

[2020-02-04 21:17] #51 closed

[2020-02-04 21:23] synackray commented on #46
Merged into `develop`.

[2020-02-04 21:23] #46 closed

[2020-02-04 22:37] jaimehrubiks commented on #51
Works great, thanks.

[2020-02-04 22:40] jaimehrubiks commented on #46
I tested it again. I works great. I have another issue that I'll put separately.

[2020-02-05 07:04] synackray commented on #50
Passed regression testing. This will be included in the latest release shortly.

[2020-02-05 07:04] #50 closed

[2020-02-05 07:08] synackray commented on #49
I believe I've sorted out all needed components to allow for modifications to the site and rack details. If you don't mind would give the latest commit in `49-synced-object-locations` a test? If all is well I plan to promote this to `develop` by the end of the week, run through full regression testing, and package up a new release. Thanks!

[2020-02-05 07:15] synackray commented on #37
Hello again, @inetman28! I have made an update in 5d8b529d3a39675d6816b9e4a15f5de039597c7d to enable this functionality. We will now send a PATCH for only the fields deemed relevant. If you find there are additional fields being overwritten that you would prefer are not please just let me know. Thanks!

[2020-02-05 07:15] #37 closed

[2020-02-06 12:09] synackray commented on #42
@klaver I have been playing around with the reverse DNS lookups and could use your feedback. I'm at a bit of a crossroad. Without bringing in additional libraries I can gather PTRs in a synchronous fashion. This offers simplicity and does not require existing users to download new libraries when the release is published. However, if PTR lookups fail then it can significantly increase the execution

[2020-02-06 15:37] inetman28 opened #56 "Add hypervisor field when VM operate"
**Is your feature request related to a problem? Please describe.**
Can not determine when VM operate now.

**Describe the solution you'd like**
We can add custom field in netbox named "ESXi HOST" or "HYPERVISOR" and push information about hypervisor name to this field in netbox

[2020-02-06 15:38] inetman28 opened #57 "Add notes and tags field of VM from vCenter to Netbox"
**Is your feature request related to a problem? Please describe.**
We can also add sync between notes and tags fields from vCenter to NetBox

[2020-02-06 20:16] synackray commented on #56
Hi @inetman28! Is the ask here to be able to create a correlation of what NetBox Device/vCenter Host the virtual machine currently resides on? I very much want this feature too and was hoping this could be accomplished in the upstream NetBox project for the long-term.

In the short-term, would you prefer a custom field, placing the data inside the comments, or config context? I see pros and cons t

[2020-02-07 07:03] inetman28 commented on #56
now, we can add custom field for virtual-machine item.
![image](https://user-images.githubusercontent.com/45913745/74007899-87c25680-4990-11ea-9660-c4c6ad21da11.png)
![image](https://user-images.githubusercontent.com/45913745/74007944-a4f72500-4990-11ea-868f-4f051ad20bbe.png)
![image](https://user-images.githubusercontent.com/45913745/74007978-c0fac680-4990-11ea-88cd-4305c23a4f48.png)

and we can

[2020-02-07 08:55] Razmuzh opened #58 "Improve handling of serial numbers and asset tags"
2020-02-07 08:48:05,796 [DEBUG] Received HTTP Status 400.
2020-02-07 08:48:05,797 [WARNING] NetBox failed to create devices object. A duplicate record may exist or the data sent is not acceptable.
2020-02-07 08:48:05,797 [DEBUG] NetBox 400 status reason: {"serial":["This field may not be null."]}
2020-02-07 08:48:05,798 [DEBUG] Unaccepted request data: {'name': 'esxvmware205', 'device_type': {'mod

[2020-02-07 09:09] Razmuzh commented on #58
Got around it by editing line 443 in run.py to:
`serial_number = "00000000"`

[2020-02-07 09:54] synackray commented on #58
Thanks for the report @Razmuzh! I will apply a permanent fix to this for the upcoming release.

[2020-02-07 13:29] klaver commented on #42
@synackray I'm aware implementations differ a lot, at my current job every assigned IP address should have a reverse DNS record set, when one or two are missing it woudn't have much impact for us running this script. But I can imagine others might have a different setup where it could couse major delays. Maybe you could implement the synchronous variant for now, and add async somewhere in the futu

[2020-02-07 23:27] synackray commented on #56
Hi @inetman28! I understand the use of a custom field and agree it is an option. Sorry if I was not clear. I was instead saying that I wish the field was built in and not custom. I don't necessarily like making model level changes to a NetBox instance outside my own.

However, I would see this as valuable and perhaps we can compromise by offering it as an optional feature. I'll start working on it

[2020-02-07 23:31] synackray commented on #49
Merged into `develop` branch and will promote to `master` in the next release.

[2020-02-07 23:31] #49 closed

[2020-02-07 23:33] synackray commented on #42
Thanks so much for the feedback. I've continued to do some testing and will have an update this weekend.

[2020-02-08 21:41] synackray commented on #42
Hi @klaver! I've implemented the PTR lookups into `42-reverse-dns-lookup-ip-addresses`. It has passed all of the late branch-level testing, so I will likely be merging it into `develop` by the end of this weekend. Please feel free to give it a spin and provide feedback.

New `settings.py` variables needed
[code]

[2020-02-09 18:42] synackray commented on #58
Corrected with the use of netbox object templates. Non-required fields with None values will not be passed to NetBox to avoid this in the future.

[2020-02-09 18:42] #58 closed

[2020-02-09 20:12] synackray commented on #42
I've promoted this to the `develop` branch pending full regression testing. This and a few other recent features will trigger an upcoming major release.

[2020-02-10 08:16] klaver commented on #42
@synackray Thanks! I'll give it a try tonight

[2020-02-10 11:50] fraserc182 opened #63 "ESXi Hosts without a VMware Cluster fail to be added"
### Environment
* Python version:  3.6.7
* NetBox version: 2.6.8
* vCenter version: 6.5.0
* vCenter NetBox Sync version:

### Steps to Reproduce
1. Follow steps in readme.md and install.
2. Execute run.py -v

### Expected Behavior
For devices to be created in netbox

### Observed Behavior

I firstly got an error message regarding null error message, I got round this with the workaround in this iss

[2020-02-10 12:11] synackray commented on #63
Hi @fraserc182! I'll look into this immediately.

`This is odd because I have the most up to date build as I only cloned it a few hours ago.`
Are you running the latest commit from the `develop` branch or the last release on `master`?

[2020-02-10 12:15] fraserc182 commented on #63
Hi,

The last release on master! I can grab the develop branch if this is where the serial address fix is.

As for the other error:

[code]

I manually created a cluster named edimandvesxh001.lambienet.local in netbox and then it ran without any problems. So it looks like it is having issues with creating this cluster?
Thanks for getting back to me so fast.

[2020-02-10 13:24] synackray commented on #63
`I cloned the development build and this resolves the serial number issue.`

Thanks for the update. I am planning to promote to `master` soon, pending final regression testing. Are there any outstanding issues in your sync with `develop`?

[2020-02-10 13:32] fraserc182 commented on #63
Yes I am still getting this error:

[code]

Manually creating the cluster it's looking for fixes it but I feel I'm sidestepping something by doing this.

[2020-02-10 13:51] synackray commented on #63
Hmm something doesn't look right with the way the cluster is being parsed after collection. I am sorry to ask, but I may need to have you run a special branch to get additional detail. First I'll try to recreate the issue on my side.

[code]

[2020-02-10 14:04] fraserc182 commented on #63
Sure thing, just let me know what you need from me.

[2020-02-10 14:34] synackray commented on #63
I suspect this may related to the structure of your particular vCenter resources. Is the host `edimandvesxh001.lambienet.local` actually assigned to a cluster or is it standalone and perhaps in a folder instead? My reasoning for this is that the cluster objects call on their parent resources as shown in the screenshot below.

![image](https://user-images.githubusercontent.com/24757919/74157045-de8

[2020-02-10 15:04] fraserc182 commented on #63
This is our lab environment so it's just standalone.
It is just a single esxi host on bare metal, so you're right it's not part of a cluster!
I suppose this is expected behaviour then.
Maybe I can manually name the cluster instead of it getting it from the parent object?

[2020-02-10 15:11] synackray commented on #63
I see. I've never actually tested the script on a single host. You should be able to create the cluster object, the rules for it are very simple. The platform is "VMware ESXi", the default site is "vCenter" and the device role is "Server".

This is an interesting use case though. I'll do some testing on this and see if it's feasible for future support.

[2020-02-10 16:10] fraserc182 commented on #63
Brilliant, thanks for looking into this for me so quickly!
I'll just add the cluster manually.

Cheers for creating this project!

[2020-02-10 17:28] jaimehrubiks commented on #41
I'm on the latest develop branch
commit b157290c3c27938e7a295327cf70745bde174f05 (HEAD -> develop, origin/develop)

This seems to be the same error, isn't it?

2020-02-10 11:26:24,822 [DEBUG] Received HTTP Status 200.
2020-02-10 11:26:24,822 [DEBUG] NetBox GET request OK; returned 200 status.
2020-02-10 11:26:24,822 [INFO] Netbox devices 'esxi-p01r01u10.nix.cccis.com' object not found. Requesting

[2020-02-10 17:33] synackray commented on #41
Oh no! How did this AT get through? Let me verify real quick.. In theory `'asset_tag': ' '` should not be allowed.

[2020-02-10 17:57] synackray commented on #41
I continue to struggle to understand how this one slips through. I feel like I'm playing a cat and mouse game. :)

Commit b157290c3c27938e7a295327cf70745bde174f05 contains the following banned asset tags
`banned_tags = ["Default string", "Unknown", " ", ""]`

Upon collection of the asset tag the it's evaluated.
[code]
So I try this manually, pasting what output you've provided.

[code]
I get the r

[2020-02-10 19:25] synackray commented on #41
@jaimehrubiks Would you mind providing the vCenter host collection portion of the logs? For the host in question did you get a message about the tag being in the banned list and being nulled? I've also committed f0799b139222c49ce29f542735370879505f5eb5 if you'd like to run it and provide the debugs. It has additional steps for logging.

P.S. I can recreate the issue by overwriting the final result

[2020-02-10 20:17] jaimehrubiks commented on #41
I know it looks super weird haha but some of my tags are like multiple spaces. I don't really now why.

2020-02-10 14:15:34,669 [DEBUG] Collecting info to create NetBox manufacturers object.
2020-02-10 14:15:34,669 [DEBUG] Collecting info to create NetBox device_types object.
2020-02-10 14:15:34,669 [DEBUG] Collecting info to create NetBox devices object.
2020-02-10 14:15:34,702 [DEBUG] Received a

[2020-02-10 20:35] synackray commented on #41
Ahah now that's the kind of weird string I'd expect. I'm going to add in an option to skip the collection of asset tags. I'll also work on improving the logic further. Perhaps a check for multiple spaces is reasonable without limiting other users.

![image](https://user-images.githubusercontent.com/24757919/74187573-1f53cd80-4c4d-11ea-88b1-7ff2fea0d15f.png)

Thanks for all of your logs and assista

[2020-02-10 21:24] acaronmd commented on #49
Hi @synackray, I was planning on testing this for you as you had requested. I believe it's good so far. I had to ensure the clusters and devices belonged to the site I wanted, but the sync hasn't altered anything, least I haven't noticed yet.

[2020-02-10 21:38] synackray commented on #49
This is fantastic news. Thank you so much!

[2020-02-10 22:16] synackray commented on #41
Alrighty @jaimehrubiks I've put in a more thorough is_banned_asset_tag function and I've also enabled the option to disable asset tag collections in `settings.py`.

I'll run this through all branch tests and then promote to `develop`. Please let me know if you run into any issues!

[2020-02-10 22:58] jaimehrubiks commented on #41
Works for me now! Thanks. Also, the option to completely disable it will be of help in case someone encounters a similar problem in the future (like having the same string in all their devices).

[2020-02-10 22:59] synackray commented on #41
Woohoo! Thanks again for the testing.

[2020-02-10 23:01] synackray commented on #41
Merged into `develop` on #64.

[2020-02-10 23:01] #41 closed

[2020-02-11 16:15] klaver commented on #42
@synackray it worked like a charm!

[2020-02-11 16:25] synackray commented on #42
That's what I like to hear! I'll be moving this into `master` on the upcoming release.

[2020-02-11 16:25] #42 closed

[2020-02-11 19:48] abhilashchinthalapudi opened #66 "Interfaces Created as Virtual for Physical Hosts"
Thanks for the great tool btw.This is so cool

I have observed that the Script creates Virtual Interfaces for the Physical ESXi hosts as well which cannot be cabled and connected to switches.I am not sure if this is intentional but want to let here know

I think this is the code that does that
results["interfaces"].append(
                            {
                                "device": {"n

[2020-02-12 17:02] synackray commented on #66
Hello @abhilashchinthalapudi! Using the VMware SDK we collect both the physical and virtual interfaces for the vCenter hosts. While the vCenter virtual interfaces cannot be physically connected there should not be any issue connecting the physical interfaces to other equipment.

In the image below the vmk0 - 2 interfaces are configured in vswitches using vmnic0 and vmnic1 physical interfaces as up

[2020-02-14 01:11] abhilashchinthalapudi commented on #66
@synackray I think I might have modified something on the code on my end .I tested the current develop code and it works perfectly.Sorry for the confusion and thanks for the Response.
I will wait for the master release before putting it into production.
Thanks for the Primary IP as well that works perfectly as well

Just a quick Question .When I run the Script on the first time it does not create

[2020-02-14 22:29] abhilashchinthalapudi commented on #66
Sorry again.You could ignore the URL issue it is HTTP Config on my end for Netbox fixed it

[2020-02-15 16:20] synackray commented on #66
Hi @abhilashchinthalapudi! No problems at all. I am preparing to bundle up the `master` release this weekend. Please let me know if you have any issues once it's out. Thanks!

[2020-02-15 16:20] #66 closed

[2020-02-19 10:58] klaver opened #69 "Feature request: make device_role configurable via settings.py"
Currently device_role is hardcoded in run.py and set to "Server". To distinguish our Hypervisors from traditional Server hardware, we rather label them with a different role in NetBox.

[2020-02-19 10:59] synackray commented on #69
Great idea. I'll set that up.

[2020-02-19 11:03] klaver opened #70 "Use guestFullName from VMware SDK for Virtual Machine platform field"
Currently the virtual machine platform vm_family variable is set based on two generic obj.guest.guestFamily categories, either Linux or Windows. To get more insight into the running versions, we rather have the obj.guest.guestFullName set as platform name

[2020-02-19 11:06] synackray commented on #70
I have vague memories that when originally exploring the VMware SDK models I found the `guest.guestFullName` to be quite inconsistent. This led to the generation of lots of unnecessary and duplicate entries.

Let me run this on a large instance with a couple thousand VMs and see what the data looks like. It's a very fair ask.

[2020-02-19 11:13] klaver commented on #70
Hi @synackray, before we discovered your brilliant python scripts, we used this PowerShell script which captured the guestFullName without any problems:
https://github.com/jwegner89/netbox-utilities/blob/master/Sync-Netbox.ps1

P.S. Our vCenter is running version 6.7, maybe things have improved recently?

[2020-02-19 21:22] synackray commented on #70
Hi @klaver! I ran this against a few vCenter instances today and here's what it pulled back. Both are running 6.5U1 or greater. What do you think? Do you prefer this level of platform detail?

[code]

[2020-02-20 11:39] fraserc182 opened #71 "Host devices not being created - Unable to collect necessary data for vCenter hosts ''vim.HostSystem:host-44237''object."
### Environment
* Python version:  3.6.9
* NetBox version: 2.6.8
* vCenter version: 6.5.0
* vCenter NetBox Sync version:  Current master branch

### Steps to Reproduce
1. Install as per instructions
2. Run python3 run.py -v

### Expected Behavior

I expected the hosts to be created in netbox and the VM's to be part of those hosts and to be able to see the host device under the cluster view.

### O

[2020-02-20 12:13] ckubin commented on #71
Experienced the same problem with netbox 2.7.6 and vcenter 6.7 in context with empty asset tags in vcenter.
Without the asset tags function, it worked properly.
ASSET_TAGS = False  in settings.py

[2020-02-20 12:47] fraserc182 commented on #71
@ckubin, this sorted the issue!
Thanks so much!

I'll wait for @synackray input before closing this off, in case it isn't expected behaviour or maybe I am just misunderstanding it.

Thanks again.

[2020-02-20 12:58] synackray commented on #71
Hi all! Thanks for the report and the workaround. I would prefer that failed asset tag lookups do not trigger object failure. I'll look to improving this logic further.

[2020-02-20 13:00] fraserc182 commented on #71
@synackray, thanks for looking into this!

[2020-02-20 15:41] synackray commented on #71
My pleasure! Would you mind pulling commit bb4a89a and telling me if this improves your case with ASSET_TAGS = True set in `settings.py`? I cannot generate the error locally so I'd like to make sure this is actually an improvement on your side. Thank you!

[2020-02-20 16:51] fraserc182 commented on #71
Just ran it there and it seems to work!
Asset tag is set to none and there are no more warnings when running in verbose.
Looks good, thanks for sorting this so quickly.

Output is now:

2020-02-20 16:44:58,608 [INFO] Collecting info about vCenter hosts 'hostname' object.
2020-02-20 16:44:58,668 [DEBUG] Manufacturers object 'IBM' already exists. Skipping.
2020-02-20 16:44:58,668 [DEBUG] Collecting

[2020-02-20 16:52] synackray commented on #71
Thank YOU for testing it out. I'll push this into `develop` branch, run it through regression testing, and get it moved into `master` within a few days. Have a great upcoming weekend.

[2020-02-20 17:00] fraserc182 commented on #71
I may have jumped the gun, so I ran the script again and I actually get this error:

2020-02-20 16:55:04,012 [WARNING] NetBox failed to modify devices object with status 400. The data sent may not be acceptable.
2020-02-20 16:55:04,014 [DEBUG] NetBox 400 status reason: {"asset_tag":["device with this Asset tag already exists."]}

So in the cluster there are 6 devices, looks like the script has set

[2020-02-20 17:03] synackray commented on #71
Aha.. Okay so we're getting a duplicate asset tag. Oh no. I really dislike this particular field. :-) Would you mind pasting the debug line right around that with the object details that were passed? I'm most interested in the asset tag key value pair. Thanks!

[2020-02-20 17:12] fraserc182 commented on #71
Debug is below, I also greatly dislike this field!

2020-02-20 16:55:02,290 [DEBUG] Removed site from edimanpresxh018.pluk.eeghlan.net object before sending update to NetBox.
2020-02-20 16:55:02,290 [DEBUG] Sending PATCH to 'http://172.26.111.60/api/dcim/devices/186/' with data '{'name': 'edimanpresxh018', 'device_role': {'name': 'Server'}, 'device_type': {'model': 'IBM System x3550 M4: -[7914F2G]

[2020-02-20 17:17] synackray commented on #71
HAH the string version of 'none'... who would have guessed. :1st_place_medal: I have added this to the banned asset tag list in ef391946dcd2fb1f226f50e3732a8d6744a7a49a.

[2020-02-20 17:51] fraserc182 commented on #71
Brilliant, thanks for this. I'll test this tomorrow when I'm back in work.

[2020-02-21 10:37] klaver commented on #70
Yes, platform names exactly like that already exist in our NetBox configuration due to the previous PowerShell script

[2020-02-21 13:37] fraserc182 commented on #71
Tested this today and it seems to work perfectly.
Thanks again!

[2020-02-21 14:00] synackray commented on #71
Excellent news. Thanks for reporting back!

[2020-02-21 19:48] acaronmd opened #72 "asset_tag mismatch"
### Environment
* Python version:  3.6.8
* NetBox version: 2.7.6
* vCenter version: 6.7.0
* vCenter NetBox Sync version:  1.1.0

### Steps to Reproduce
1. python run.py -v

### Expected Behavior

### Observed Behavior

`Mismatch: vc_data[asset_tag] value is '                                ' while nb_data[asset_tag] value is 'None'.`

`[CRITICAL] Well this in unexpected. Please report this. PATCH

[2020-02-21 19:52] synackray commented on #72
Hi @acaronmd! Thanks for the report. If you're not specifically populating hardware asset tags it would be harmless to set `ASSET__TAGS = False` in `settings.py`.  Blank space asset tags should be getting dropped already, so I'll have to play around with that a little bit. There are in fact two checks for this but clearly it still somehow go through.

Code for reference if you see any opportunitie

[2020-02-21 19:56] synackray commented on #72
Ahh I see a mistake in the steps that call this function. I'll get this patched immediately.

[2020-02-21 20:05] synackray commented on #72
Merged into `develop` and will be hotfixed into `master` after regression testing.

[2020-02-21 20:06] synackray commented on #71
Superseded by #72 and patched in #73.

[2020-02-21 20:06] #71 closed

[2020-02-21 20:08] synackray commented on #70
I'll start writing this up and make sure it does not have any unexpected consequences. Thanks again for the suggestion. This looks much more reasonable than what I remember.

[2020-02-21 20:18] acaronmd commented on #72
Thanks for the quick fix! Working good on my end now.

[2020-02-23 11:42] synackray opened #75 "'w' character is missing from allowed_chars in format_slug function"

[2020-02-23 11:45] #75 closed

[2020-02-23 11:46] #72 closed

[2020-02-23 23:34] synackray opened #78 "Implement async http client library to speed up object sync"
**Is your feature request related to a problem? Please describe.**
Currently the NetBox object sync operations of this script depend on synchronous http request operations. This increases the time to complete with the quantity of objects being synced.

**Describe the solution you'd like**
Implement an async http client library such as aiohttp.

**Additional context**
This will require a change to

[2020-02-24 00:25] synackray commented on #69
Hello @klaver! I've added the following option to `settings.py` and parse it in `run.py`. Would you mind giving me your feedback? Thanks!

[code]

[2020-02-24 06:32] synackray commented on #56
@inetman28 I have been playing around with this and no option that leverages custom field leaves me satisfied. There are two major roadblocks.

- Users must be instructed to manually create the custom field desired. There is no API presented to programmatically handle this.
- Users may setup the custom field values in a different order, with altered field name, or different values that are not acc

[2020-02-24 06:32] #56 closed

[2020-02-24 09:04] OBenned opened #79 "Feature request: Handling API timeouts"
**Is your feature request related to a problem? Please describe.**
We are currently testing your sync script as we would really like to replace our old sync script.
But we are currently running into a problem with timeouts both on our old script and this version.
Im pretty sure that the problem however is in our end.
When running the script we are seeing that most of the time (90 %) there is a tim

[2020-02-24 17:04] klaver commented on #69
I can confirm this works as expected

[2020-02-25 10:35] synackray commented on #69
Thanks! I'll get this moved through the process.

[2020-02-25 10:38] #69 closed

[2020-02-25 10:55] synackray commented on #79
Hi @OBenned! I can most definitely look into adding a requests retry mechanism and set something like a max retries variable before the script considers a fail condition. I will focus on the feature during the implementation of #78.

[2020-02-25 12:14] synackray commented on #70
Hi @klaver! Do you mind giving the latest commit in `70-detailed-vm-platforms` a spin to make sure it lines up to what you expect before I promote it? Thanks!

Example
![image](https://user-images.githubusercontent.com/24757919/75246728-a8800e00-57d0-11ea-9955-ea3b1405f75e.png)

[2020-02-25 12:26] OBenned commented on #79
Sounds great, i would be more than happy to test it when the time comes

[2020-02-25 16:20] klaver commented on #70
It seems to work properly, vms are now attached to their platform names. The only abnormality are the RHEL 8 vms where the vmtools somehow include the kernel versions (they also report exactly that string in the vCenter web-interface), I can live with that for now.

Current platform list in our NetBox setup now looks like:
CentOS 4/5 or later (64-bit)
CentOS 7 (64-bit)
Linux 4.18.0-147.0.3.el8_1.x

[2020-02-25 16:44] synackray commented on #70
Thanks! I'll get this moved forward then. I appreciate all your feedback and helpful recommendations.

[2020-02-25 17:04] synackray commented on #70
Merged into `develop` and running through regression prior to being promoted to `master`.

[2020-02-25 17:04] #70 closed

[2020-02-26 19:16] acaronmd opened #82 "Unable to collect necessary data for vCenter hosts"
### Environment
* Python version:  3.6.8
* NetBox version: 2.7.6
* vCenter version: 6.7.0
* vCenter NetBox Sync version:  develop - commit f539db3

### Steps to Reproduce
1. python run.py -v

### Expected Behavior
I'm expecting my vCenter hosts to sync, but there is an error.

### Observed Behavior

2020-02-26 12:11:51,332 [DEBUG] Received HTTP Status 200.
2020-02-26 12:11:51,332 [DEBUG] NetBox GE

[2020-02-26 22:03] synackray commented on #82
Hello @acaronmd! Are your ESXi Hosts defined inside a cluster within vCenter? The logs confirming whether vCenter clusters were found and synced would be a few lines before what was pasted. If not, that may be the issue. If so, then I may need to activate additional debug details to tell us exactly what failed in the VMware SDK.

[2020-02-26 23:16] acaronmd commented on #82
I've gone ahead and deleted my VMs, clusters and cluster groups, and tags. I've tried to sync again and I get the same error. I can send you more debugging data if you need it.

[2020-02-26 23:22] synackray commented on #82
Yes please. If you don't mind sending the full debug logs I'll see if something stands out. If you're concerned about sensitive data feel free to send the logs to my email directly: [One Time Private Note](https://privnote.com/Uo2dsZKa#64NhTZfRg)

[2020-02-26 23:41] acaronmd commented on #82
No problem. Logs have been sent.

[2020-02-27 14:19] inetman28 opened #83 "Objects removed from netbox immediately after tag orphaned was assigned"
Devices must not remove from netbox immediately (only after NB_PRUNE_DELAY_DAYS was exceeded)

Settings.py
[code]

### Observed Behavior
Devices was removed from netbox immediately after tag orphaned was assigned
Logs before:
[code]

tag orphaned was assigned. And script immideatly remove object from netbox:

[code]

[2020-02-27 14:39] synackray commented on #83
Your logs lead me to believe I've made a logical error. Currently the script collects the objects one time and then patches them with the 'Orphaned' tag if they meet the requirements. If I remember well, it is _not_ then using the cached instance of the object to check against the last updated time. This is very likely where it's wrong.

I'll verify and get this patched ASAP if that's the case. Th

[2020-02-27 15:54] synackray commented on #83
Hello @inetman28. I've taken a shot at patching this in 0589b52 if you want to give it a spin. I'm also running it through tests now. Thanks!

[2020-02-27 16:59] synackray commented on #82
@acaronmd Thanks for the logs. You have a very interesting case and I really appreciate getting to see the details. I'm going to share the generic portions of the logs, with additional sanitization, so that the I can be certain my thought process makes sense.

During dependency checks the `vCenter` tag is searched for as it's a global dependency to all other objects. During your check an existing

[2020-02-27 17:05] acaronmd commented on #82
Just wanted to note that the two vCenter (vcenter) and vcenter (vcenter_1) tags are created by the script, and recreated when I delete them.

[2020-02-27 17:11] synackray commented on #82
Would you mind sharing the output of the following URLs? I'd like to understand that better. Feel free to pass it to my e-mail. Thank you!

General:
https://yourdomain.com/api/extras/tags

vCenter Tag:
https://yourdomain.com/extras/tags/vcenter/changelog/

Other vCenter Tag:
https://yourdomain.com/extras/tags/vcenter_1/changelog/

[2020-02-27 17:14] acaronmd commented on #82
Email sent.

[2020-02-27 17:51] synackray commented on #82
Thank you! That gets me what I need. Let me fix the tagging and then sort out the original vCenter SDK issue. I checked the logs and this looks similar to #63 as the logs show the same behavior.

[code]

Can you confirm whether your vCenter is setup in an an organization structure similar to: vCenter > Cluster Group > Cluster > ESXi Hosts > Virtual Machines? Are there any ESXi hosts which reside o

[2020-02-27 19:11] acaronmd commented on #82
We do not have any clusters created in our vCenter. We have 4 hosts setup like this:

vCenter > Datacenter > (4) ESXi Hosts > Virtual Machines

[2020-02-27 20:25] synackray commented on #82
OK this makes a lot of sense. I've committed a few changes to allow for more helpful logging of vCenter issues, sort out the tags, and handle ESXi Hosts without parent clusters.

Would you mind giving 16fe2eab90efdf3b5d924a3c63c58a51e0b5938c a shot and letting me know how it does?

[2020-02-27 20:43] acaronmd commented on #82
Results look similar if not the same. I've sent you new logs.

[2020-02-27 20:48] synackray commented on #82
Well we've made progress! The tags look cleaned up and the errors are more helpful for sure.

[code]
In the latest release of NetBox disabling the collection of asset tags was added as an optional setting. It appears that may be missing from your `settings.py`. Here is a snippet of the latest `settings.example.py`.

[code]

Would you mind adding the optional settings and trying again? I'll raise a

[2020-02-27 20:57] acaronmd commented on #82
Done! Sending new logs.

[2020-02-27 20:59] synackray commented on #63
I've added the ability to import hosts that are not part of parent clusters while patching #82. Thanks for your report it was a big help.

[2020-02-27 20:59] #63 closed

[2020-02-27 21:01] synackray commented on #83
It has cleared all testing on my side. I verified older objects are now not being picked up on their first orphan state.

[2020-02-27 21:02] acaronmd commented on #82
Just for the heck of it, I've just tried running the script with ASSET_TAGS set to False, but I get the same result. It errors out when creating the host, as it can't find the cluster with matching name to put it in.

[2020-02-27 21:31] synackray commented on #82
Thanks for sending the latest logs. Sorry for having to go through so many revisions.  I realize yet another reason why the script is getting tripped up now. It's honestly amazing the amount of use cases that would never cross your mind that may exist in the wild.

Outstanding issues

- Your vCenter FQDN is `vcenter.yourdomain.com` the tag shortner strips this to `vcenter` and that's what is causi

[2020-02-27 23:23] synackray commented on #82
@acaronmd I submitted patches for all of the issues. Would you mind giving 00006d3caca379378782046d29d7a79a7d7b15c0 a spin? Thanks again. You've been extremely patient and easy to work with.

[2020-02-27 23:52] acaronmd commented on #82
Thanks! I appreciate the work you're putting in to get this working. I find your script just as valuable as much as you do I'm sure.

I've sent new logs. More progress! Tags look good, hosts are being created now, but the VMs are not. You'll see in the logs. Also, I see the hosts are being assigned to the vCenter site, which prevents them from being racked in my actual sites. Not sure if the idea

[2020-02-28 12:56] synackray commented on #82
Thanks! I forgot about the VM to Cluster relationship.  This is a bit more challenging. Give me a few to sort it out.

Regarding the sites, the script places the vCenter site as a placeholder and you should then be allowed to overwrite it without fear of it being reverted. This is handled by a case in the `compare_dicts` function.

[code]

[2020-02-28 15:41] synackray commented on #82
Alright I think I've got a reasonable way to sort this out. Unfortunately, I don't have a lab to mimic this in at this very moment. I'm requesting the resources so I don't have to rely on asking you to test, but would you mind running 1cb65ec and giving me your feedback? Thanks!

[2020-02-28 15:50] acaronmd commented on #82
@synackray I just tested, and now the VMs are failing to be created due to the cluster field missing. I've sent logs.

If there's the ability to sync tags from the host, could the script handle placing the hosts in the appropriate site/rack group/rack, if each host had all the necessary tags to do so?

[2020-02-28 15:51] synackray commented on #82
I don't know how I forgot that Virtual Machines require a cluster. That sort of defeats the entire model in this situation. NetBox is supposed to be a source of truth and if the ESXi hosts are not part of a cluster than there isn't a cluster to assign.

What are your thoughts on this? Would you be amenable if I defined a generic "Standalone ESXi Host" cluster?

[2020-02-28 16:21] acaronmd commented on #82
I would be okay with a generic cluster like you mentioned, or even perhaps to have a cluster for each standalone host based on its name.

[2020-02-28 16:25] synackray commented on #82
OK. The latter option is more challenging as the ESXi hosts are not clusters and will not appear when searching vCenter to determine clusters that should be orphaned. I'll think through that some and offer the generic cluster as an interim.

[2020-02-28 16:31] acaronmd commented on #82
Assigning all standalone ESXi hosts to a single "Standalone ESXi Host" cluster for a single vCenter instance would work, but would break over multiple vCenter instances, unless a "Standalone ESXi Host" cluster is created for each vCenter instance.

[2020-02-28 16:41] synackray commented on #82
In what way would it break? I'm struggling with the fact that it would be inaccurate, in the sense that the ESXi hosts and VMs are not part of a cluster, but I do not see a technical limitation.

[2020-02-28 18:16] synackray commented on #82
I was able to get resources allocated to replicate this. With commit 29b1a8b I am seeing hosts and VMs be properly assigned to the "Standalone ESXi Host" group. I'm running it through multi-vcenter instance tests and then full regression testing just to be certain.

![image](https://user-images.githubusercontent.com/24757919/75571606-d2983100-5a59-11ea-952c-7cb39d1ada81.png)

[2020-02-28 18:45] acaronmd commented on #82
I misunderstood the relationship between clusters and sites for "Standalone ESXi Hosts", as I was expecting the cluster to be assigned to a cluster group. Your last commit seems to have worked great!

[2020-02-28 19:51] synackray commented on #82
That's what I like to hear! I'll continue to do some testing and start moving this towards `develop` and eventually `master`. Thank you again for all your support.

[2020-02-28 22:04] #82 closed

[2020-03-02 08:25] inetman28 commented on #83
hi,
its work fine but now vcenter-netbox-sync rewrite existing tags that have been assigned to device:
[code]

some other tags have been applied to esxi-5.local before

[2020-03-02 08:32] inetman28 commented on #83
also I want to offer that manually created hosts does not remove from netbox. may be such devices assign with some tag, for example - 'manual'. Because while script will remove esxi-host from netbox - this device really installed in rack inside data center

[2020-03-03 19:53] synackray commented on #83
Hello @inetman28. I've added the tag merge functionality for newly orphaned objects. I will starting promoting this up shortly.

[2020-03-03 19:54] synackray commented on #83
So ideally you would like devices that were originally manually added then picked up by the script to remain after they no longer exist in the source? This is most definitely doable. I'll raise another enhancement request to track this work.

[2020-03-03 19:54] #83 closed

[2020-03-03 19:59] synackray opened #89 "Allow for "No Delete" policy of certain synced objects through tagging"
**Is your feature request related to a problem? Please describe.**
Currently if a NetBox device or VM is manually added and then picked up by this script, it will follow the same rules as all other synced objects including being deleted if it becomes orphaned.

**Describe the solution you'd like**
Provide an option to skip the deletion of any objects that contain a certain tag, perhaps "Manual".

[2020-04-06 08:56] Epaphus opened #90 "VM names are not URL encoding special characters"
### Environment
* Python version:  3.6.8
* NetBox version: 2.7.10
* vCenter version: 6.5
* vCenter NetBox Sync version:  Github master branch

### Steps to Reproduce
1. Have a VM with name which has character which are normally used in URL query strings such as '&'
2. Run a sync

### Expected Behavior
I would expect all vCenter VMs to sync with netbox

### Observed Behavior
When sync gets to a VM

[2020-04-08 11:42] inetman28 commented on #90
I have same issue when vm name have a space.

[2020-04-09 13:44] lanbugs opened #91 "Bug creating interfaces for esx hosts"
### Environment
* Python version:  3.6.8
* NetBox version: 2.7.12
* vCenter version: 6.0.0
* vCenter NetBox Sync version:  1.1.0

### Steps to Reproduce
1. Start sync

### Expected Behavior
All interfaces of esx host shoud be created

### Observed Behavior
Sync should create all interfaces but only physical interfaces are created. Virtual interfaces are not created and leads to error 400.

[2020-04-09 16:36] synackray commented on #90
Hi, All!

I will do some testing with this and report back. Thanks for the report!

[2020-04-15 22:15] abhilashchinthalapudi opened #92 "Virtual Machines that does not exist in vCenter are not being Tagged as Orphaned"
Hello

I am not able to remove the VM's that are removed from vCenter but not from Netbox.
The only change I made in the code was to change site name from vCenter to our site name.

I have had the correct settings as per Documentation.Could you help me in fixing this ,I am not sure how the Removed VM;s are tagged as Orphaned

[2020-04-17 13:44] alexgoesgit commented on #90
Quick'n dirty hack, that worked for me:

Edit run.py:
[code]

[2020-04-17 19:08] abhilashchinthalapudi commented on #92
Does the Script consider Unregister Times of the VM in vcenter to mark it as orphaned.
If so I think the VM was deleted sometime back and as I do not have the script run on a schedule it did not tag them properly

Let me know if that is case
Thank you

[2020-04-21 11:02] Epaphus commented on #90
Almost the same as what I came up with the other day with a bit of Googling. I haven't done much with Python so wasn't sure if was the best way.

[code]

[2020-04-22 15:24] MalfuncEddie opened #93 "Same name vm in other vcenter"
# Steps to Reproduce
1. Have the same VM in 2 different vcenters (in this case a template server that you roll out)
2. run the script
3. VM is "updated" twice (once for cluster A and once for cluster B

### Expected Behavior
The vm should be create two times, one in each cluster.

### Observed Behavior
When the script searches if a vm exists it finds the VM of CLUSTER B and changes is to CLUSTER A

[2020-04-27 11:21] synackray commented on #90
Apologies for the delay in getting this sorted. The current state of affairs has made maintaining projects challenging. This should be patched in af762e111481387311301ffdb61d03fcd25ea7ab. It has passed initial testing and will be merged into `develop` shortly before a new `master` release.

[2020-04-27 11:24] #90 closed, assigned to synackray

[2020-04-27 11:28] synackray commented on #89
Merged into `develop`.

[2020-04-27 11:28] #89 closed, assigned to synackray

[2020-04-27 11:35] synackray commented on #91
@lanbugs My apologies for the delay in getting back to you. The script should be creating both physical and virtual interfaces. This error is starting there is a missing field `type` and therefore it cannot continue.

It looks like this has been recently changed in the NetBox project. I checked on NetBox v2.6.11 and `type` was not required as marked below, however it is required when testing on Ne

[2020-04-27 13:36] Haeki opened #98 "Calling device_interface with itype=0 Returns Object without type attribute"
### Environment
* Python version:  3.6.9
* NetBox version: 2.8.0
* vCenter version: 6.7.0
* vCenter NetBox Sync version:  1.1.0

### Steps to Reproduce
1. call device_interface in templates/netbox.py with parameter `itype = 0`
2. The object returned by the function has no type attribute

Expected behavior:
since the NetBox api version is greater than 2.6 the itype attribute should be set to "virtu

[2020-04-27 14:48] synackray commented on #98
Hello @Haeki!

Thanks for the contribution. I realized this mistake when fixing #91. I've patched it and pulled it into `develop` through #97. Would you mind giving it a review? You'll see I opted to remove the optional as this was change in the upstream NetBox project to a required field. Thanks!

[2020-04-27 14:49] synackray commented on #91
This has been merged into `develop` after successful testing.

[2020-04-27 14:49] #91 closed, assigned to synackray

[2020-04-28 08:30] Haeki commented on #98
Hi,
looks good to me. I did a quick test run and it worked as expected.

[2020-04-28 12:17] synackray commented on #98
Thanks! After final testing I'll be moving this into `master`. It should be done by the end of the week. Thanks again for the report and help!

[2020-04-28 12:17] #98 closed, assigned to synackray

[2020-04-29 11:09] Haeki commented on #63
Hi,
i had the same issue with datacenters with only one Host not being added properly to Netbox. But I found a different solution: I changed the `vc_obj_views` value for clusters from `vim.ClusterComputeResource` to `vim.ComputeResource` this means datacenters with a single Hosts have a Cluster added to Netbox with the host name as the cluster name. This cluster also gets the correct cluster group

[2020-04-29 11:32] Haeki opened #100 "Sync Virtual Machine network names"
Our VMs are connected to Networks with a clear defined naming convention that lets us get a lot of Information about the Network just by the name. Sadly those Names are not synced to Netbox and the interfaces are just named generic vNIC0, vNIC1, ...

**Describe the solution you'd like**
If the network name is available sync it to Netbox if not use the generic vNICx.

**Describe alternatives you've

[2020-04-29 13:08] Haeki commented on #100
I don't know what the Netbox api character limit ist but the name should probably also be truncated

[2020-05-01 10:45] synackray commented on #100
Hello, @Haeki.

Thanks for the suggestion. This seems like a reasonable ask. Let me do some further testing and I'll work on getting this patched in.

[2020-05-01 10:48] synackray commented on #93
Hello, @MalfuncEddie.

Thanks for the report. You are indeed correct we should only update the VM relevant to the vCenter it was detected on originally. I'll work on improving this behavior. Thanks for the report!

[2020-05-06 16:50] Haeki commented on #57
I'm not sure if notes mean what i think, but I implemented the synchronization of VM annotations to NetBox.
I can open a pull request with my changes, they are not that big.

The Template already supports a comment parameter. So i added this line in get_objects() to set it: `comments=getattr(obj.config, "annotation", None)`.

The vCenter api documentation has [annotations](https://vdc-download.vmw

[2020-05-06 17:35] inetman28 opened #101 "Specify a VRF in settings.py"
**Is your feature request related to a problem? Please describe.**
I cannot specify a VRF to which ip-addresses will belong.

**Describe the solution you'd like**
I have a lot of tenants with overlap ip-space.

[2020-05-06 20:03] Haeki commented on #92
The script only checks netbox objects with the vc_tag to make sure nothing manually created gets wrongly deleted.
 This tag is determined by the vCenter Host. Either its the IP or a formatted version of the host name.

[2020-05-06 20:22] Haeki commented on #101
Yes we have the same problem.

Fortunately everything in our vCenter belongs to the same VRF. So my solution at the moment is to declare a default VRF and make sure it is used for every ipam post/get request.

I still have some Problems when looking for existing addresses in Netbox but I can share my code after I fixed those.

[2020-05-06 21:03] Haeki commented on #100
I found and fixed a little Problem with this myself. Our network names contain plus signs so when rerunning the sync they don't get found in Netbox and are created again,
Luckily this is a very easy fix. When creating the query for virtual_interfaces `qute_plus()` should be used on `vc_data[query_key]`:

`query = "?virtual_machine={}&{}={}".format(quote_plus(vc_data["virtual_machine"]["name"]), qu

[2020-05-07 12:00] synackray commented on #101
Hello @inetman28 and @Haeki!

I too have this need for one of my instances and wrote a function which lookups up the VRF based on the most specific matching parent prefix. As @inetman28 mentioned though, this does not solve the use case of having overlapping IPs thus I've left it out of the main project so far.

Would it be preferable to have an additional key in the vCenter hosts list that allows

[2020-05-07 12:04] inetman28 commented on #101
exactly. This option must specify in vcenter hosts list because automatically ip-lookup will not work correctly.

[2020-05-07 12:08] synackray commented on #101
Sounds good. I'll test that out and report back.

[2020-05-07 12:32] Haeki commented on #101
Yes an additional key in the vCenter hosts list would be perfect.
From my testing I can tell that the search_prefix() function needs to be changed.
Also when checking in Netbox for existing IPs or prefixes the vrf has to be filtered or else there will be a Problem with multiple objects found.

[2020-05-07 13:01] Haeki opened #102 "Make updating primary ip optional"
**Is your feature request related to a problem? Please describe.**
For some of our esx hosts we would like to manually change the primary ip in Netbox. The problem is that the script automatically reverts the change back.

**Describe the solution you'd like**
Add a settings option to disable overwriting of primary IPs

**Describe alternatives you've considered**
Maybe even two options so that it c

[2020-05-07 13:55] Haeki opened #103 "" none" causes problems as asset_tag"
### Environment
* Python version:  3.6.9
* NetBox version: 3.8
* vCenter version: 6.7
* vCenter NetBox Sync version: current developer branch

Somehow hosts without a tag get " none" as asset_tag
The leading whitespace causes it to net get caught by the is_banned_asset_tag() function

### Steps to Reproduce
1. Have a host without a tag
2. Run the script

It could be some unique behavior of our vCe

[2020-05-07 14:33] Haeki opened #104 "Change ClusterComputeResource to ComputeResource"
**Is your feature request related to a problem? Please describe.**
I am not sure if this is a good idea but changing from vim.ClusterComputeResource to vim.ComputeResource would cause "clusters" with a single ESX Host to be found. The script would automatically create a cluster with the name of the Host. The Host is added to the cluster and the cluster to the already created cluster group.

Althou

[2020-05-07 16:38] synackray commented on #93
I have merged this into `develop`. Thanks!

[2020-05-07 16:42] synackray commented on #92
@abhilashchinthalapudi It's a pleasure to meet you. What are the following options set to in your `settings.py`?

[code]

[2020-05-07 16:44] synackray commented on #100
Hi @Haeki! If you'd like to submit a pull request I would be happy to credit you with the contribution. Otherwise I am happy to patch this in. Thanks!

[2020-05-07 16:45] synackray commented on #101
Got it. Those are all great points. Let me see what I can do.

[2020-05-07 16:47] abhilashchinthalapudi commented on #92
@synackray Nice to meet you .

I am using the same settings as above

# Automatically orphan and delete objects if they are no longer in their source system
NB_PRUNE_ENABLED = True
# How many days should to wait before pruning an orphaned object
NB_PRUNE_DELAY_DAYS = 0

Sometimes I would see VM deletes missing if I miss running the Script regularly

[2020-05-07 17:08] synackray commented on #92
So with those settings you should have no delay in the deletion of the VMs if they have an orphaned tag. When you run the script it will eventually go through the pruning process and return a log similar to what is pasted below. Are you seeing this log? If so, are you seeing any `ERROR` or `WARNING` log entries after it? Would you mind pasting them if you do? Thanks!

Example Log
[code]

[2020-05-07 17:13] abhilashchinthalapudi commented on #92
I did not see this happen after setting a cronjob to run every few hours.I will try to reproduce this and post the info here.

[2020-05-07 20:26] inetman28 opened #106 "Sync only prefix related ip-addresses"
**Is your feature request related to a problem? Please describe.**
We must manually fill up ip-list IPV4-ALLOWED (IPV6-ALLOWED)

**Describe the solution you'd like**
In some environment like own I already have fill up ip-prefixes in netbox. We can automate it and do not fill up ip-list manually.

[2020-05-08 13:48] fupsi42 opened #108 "Feature request: exclude certain machines with special prefix"
**Is your feature request related to a problem? Please describe.**
We have replicated machines which have the addition "_REPL" in their name. These should not be listed in Netbox.
Furthermore there are warnings when calling the script because the replicas have the same MAC address as the original.

**Describe the solution you'd like**
The possibility to specify prefixes to be excluded

**Describe

[2020-05-11 13:23] MalfuncEddie commented on #93
Hi,

I juist checkt the develop branch te see the fix. but it looks like the problem is still there.
The vm is create in the last cluster but it has the tags "Vcenter A" and "Vcenter B".

[2020-05-12 11:44] synackray commented on #93
@MalfuncEddie I am requesting the resources to test this again. Was the sync done in an already populated NetBox instance? I had to remove the second vCenter tag from the existing VM object as it had already been synced that way and I didn't see a duplication on a fresh sync, but I am going to fully retest this on my side. Thanks!

[2020-05-12 11:49] synackray commented on #106
@inetman28 Hello! How would you prefer this is automated? Are you suggesting that all prefixes which exist already inside the NetBox instance would be permitted and anything not created there would be ignored?

[2020-05-12 11:54] #92 closed, assigned to synackray

[2020-05-12 12:04] synackray commented on #103
Thanks! I've added " none" to the banned list.

[2020-05-12 12:04] #103 closed, assigned to synackray

[2020-05-12 12:40] inetman28 commented on #106
Yes, you are right.
I mean something like this:

[code]

[2020-05-12 15:08] MalfuncEddie commented on #93
I'll clean my setup and run the sync again. results tomorrow :)

On Tue, May 12, 2020 at 1:44 PM Raymond Beaudoin <notifications@github.com>
wrote:

[2020-05-13 12:37] izeen opened #110 "Exclude ipv6?"
Hello!

How do we exclude the ipv6 adress from VMs from being synced to netbox? Do we just omit the field like so:

 IPV6_ALLOWED = []

Or is it not possible? Sorry if my question is stupid and thanks in advance!

[2020-05-13 12:50] synackray commented on #110
Hello @izeen! That is correct. If you do not place any addresses in the `IPV6_ALLOWED` listed then no IPv6 addresses will be synced.

[2020-05-13 13:22] izeen commented on #110
Thanks for the quick reply, a follow up question on that. If i have synced everything with ipv6, if i then omit the field and sync again will they get removed or do i run the program with the --cleanup option first and then sync again?

Thank you!

[2020-05-13 13:54] SerhiiZahuba opened #111 "A few questions"
Hello
Sorry, but I did not find such information in readme. Should Netbox only be with https? I tried several times to install - all the time errors that it is not possible to connect to netbox. NB_API_KEY = "" - do I need to create and insert a token from netbox here? If the host is already in netbox, what will happen after synchronization with vcenter?

[2020-05-13 15:00] synackray commented on #110
It should automatically detect that they are "orphaned" and remove them. If not please let me know. Thanks!

[2020-05-13 15:00] #110 closed, assigned to synackray

[2020-05-13 15:22] MalfuncEddie commented on #93
Hi,

run.py -c
Did a check an there were no vm/ tag/ ...

ran run.py again:
same result
vm gets created
vm get updated
run it again
vm get updated

the diff shows
update 1
{
    "cluster": 23,
    "platform": 28
}
to
{
    "cluster": 29,
    "platform": 1
}
update 2:
{
    "cluster": 29,
    "platform": 1
}
to
{
    "cluster": 23,
    "platform": 28
}

[2020-05-13 15:23] MalfuncEddie commented on #93
and the vm has 2 vcenter tags

[2020-05-13 17:37] #111 closed, assigned to nobody

[2020-05-14 08:06] inetman28 opened #112 "Don't sync ip-address of virtual networks (docker/k8s and so on)"
**Is your feature request related to a problem? Please describe.**
if virtual machine has a network adapter for some virtual network (docker or kubernetes, for example) - such ip-addresses sync to netbox now.

**Describe the solution you'd like**
Internal ip-addresses of network adapters of virtual-machines should not sync to netbox. These IP-addresses can overlap and these should not accounting i

[2020-05-18 11:53] izeen opened #113 "Running with cleanup switch, 404 not found have to re-run multiple times"
Hello!

Just ran with the cleanup switch against our test Netbox instance and it stops and have to be re-ran multiple times with the following error:

Sending DELETE to 'https://removed/api/virtualization/interfaces/1326/' with data 'None'.
2020-05-18 13:47:35,945 [DEBUG] Received HTTP Status 404.
2020-05-18 13:47:35,946 [CRITICAL] Well this in unexpected. Please report this. DELETE request receiv

[2020-05-18 13:27] izeen commented on #110
just a follow up, i did remove the ipv6 adress in IPV6_ALLOWED = [] and re-ran the sync. They did not get removed however, so i ran the cleanup(which had another issue which i posted in a new post) and resynced and now they are not there :)

[2020-05-27 14:38] izeen opened #114 "Identifying and assigning VRF and tenants problem"
Hello!

Im struggling with getting the correct VRF and Tenant assigned, some back info:

We have the following environment:

1 vCenter
Everyone(almost apart from some old legacy) has their own virtual firewall, so everyone is isolated in their own little island.
Multiple firewalls have the same internal networks/subnet

What we tried:

Setting up VRFs based on everyone that has their own firewall,

[2020-06-19 07:14] jozefrebjak opened #115 "POST problem with version 2.8.6"
### Environment
* Python version:  3.6.9
* NetBox version: 2.8.6
* vCenter version: 6.50
* vCenter NetBox Sync version:  latest

### Steps to Reproduce

There is an issue with latest version of netbox.

I am getting error with creating an object

[code]

[code]

[2020-06-19 08:52] jozefrebjak commented on #115
Ok I found where was a problem. Problem is not related with `vcenter-netbox-sync`, but with install of Netbox.

[2020-06-19 08:52] #115 closed, assigned to nobody

[2020-06-19 08:56] fjasboka commented on #115
Would you mind posting what caused it in case other people run in to it. Could it be the systemd service file not pointing to the netbox venv that solved it?

[2020-06-19 09:17] jozefrebjak commented on #115
@fjasboka  I ran legacy `supervisor` method, So I migrate to `systemd`. I used default one from `/contrib`. I just had some problems to get starting netbox with `systemd` there was only problem with `--config /opt/netbox/gunicorn.py netbox.wsgi` from `ExecStart` because I had a `gunicorn_config.py` instead of `gunicorn.py` in my `/opt/netbox/` directory. I'm running latest 2.8.6 version of netbox

[2020-06-23 14:05] Haeki commented on #101
I created a Pull Request with my Implementation: [Specify a VRF in settings.py Implementation](https://github.com/synackray/vcenter-netbox-sync/pull/116)
We have been using this for the last few weeks without Problems.
But I am not sure if this will be enough to deal with [Identifying and assigning VRF and tenants problem #114](https://github.com/synackray/vcenter-netbox-sync/issues/114) so maybe

[2020-06-23 14:11] Haeki commented on #57
I created a Pull request for my Implementation: [Sync VM comments #117](https://github.com/synackray/vcenter-netbox-sync/pull/117)

[2020-06-23 14:24] Haeki opened #118 "Tags have no description"
### Environment
* Python version:  3.6
* NetBox version: 2.8.4
* vCenter version: 6.7
* vCenter NetBox Sync version:  latest develop branch

### Steps to Reproduce
1. Run Script
2. Tags don't have a description

### Expected Behavior
Tags get the description specified in the code

### Observed Behavior
The description is transmitted as `"comments"` entry but Netbox expects them as `"description"`

[2020-06-23 14:36] Haeki commented on #118
Pull request with fix: [Fixed missing Tag descriptions #119](https://github.com/synackray/vcenter-netbox-sync/pull/119)

[2020-06-23 14:42] Haeki opened #120 "VMs have duplicated log.info() call"
### Environment
* Python version:  3.6
* NetBox version: 2.8.4
* vCenter version: 6.7
* vCenter NetBox Sync version:  latest develop branch

### Steps to Reproduce
1. Run Script
2. `"Collecting info about vCenter virtual-machines '%s' object."` does appear twice

### Expected Behavior
Line get logged only once

### Observed Behavior
The log.info() call is made at the start of the loop and then aga

[2020-06-23 14:58] Haeki opened #123 "Asset Tags having leading whitespaces"
### Environment
* Python version:  3.6
* NetBox version: 2.8.4
* vCenter version: 6.7
* vCenter NetBox Sync version:  latest develop branch

### Related Bug
[" none" causes problems as asset_tag #103](https://github.com/synackray/vcenter-netbox-sync/issues/103)

Recently he same happen with `" to be filled by o.e.m."` having a leading whitespace.

### Solution
Instead of again adding a second Stri

[2020-06-24 09:40] SerhiiZahuba opened #124 "Invalid main ip"
### Environment
* Python version:   Example: 3.6.8
* NetBox version: Example: 2.8.6
* vCenter version: Example: 6.5.0
* vCenter NetBox Sync version:  last

![image](https://user-images.githubusercontent.com/36307887/85531846-cabb5880-b617-11ea-9c5a-e8cb212e2fb4.png)

I have many servers with a docker (the docker has its own network), the host has a standard ip, when synchronizing, the tool puts th

[2020-06-25 15:05] Haeki commented on #124
At the moment the script simply takes the first ip it finds and sets it as primary.
I added a feature request so that this ip could manually be changed without being overwritten:  [Make updating primary ip optional #102](https://github.com/synackray/vcenter-netbox-sync/issues/102). Additionally there is a feature request to ignore docker networks: [Don't sync ip-address of virtual networks (docker

[2020-07-20 14:11] bb-Ricardo commented on #79
Also running into the issue on pretty much every Sync.

Here is my temporary solution:
[code]

Not sure when you're planning to merge #78 as it would be directly affected. I could just do a PR against your current Master but then it wouldn't merge cleanly.

What are your recommendations?

[2020-07-31 11:18] gstorme opened #125 "GET virtualization/interfaces returns 400 because POST never got through"
### Environment
* Python version:  3.7
* NetBox version: 2.8.8
* vCenter version: 6.7.0
* vCenter NetBox Sync version: 1.1.0

### Steps to Reproduce
Run with config:

[code]

### Expected Behavior
Virtual machine profacts-web006.srv.masked-ops.net gets imported with its IP address.

### Observed Behavior

The run stops on profacts-web006.srv.masked-ops.net, while similar named objects such as prof

[2020-07-31 12:14] nfroger commented on #125
Is your VM in a cluster? I have an issue that looks like yours. Putting every VMs in clusters solve the issue.

[2020-07-31 21:06] gstorme commented on #125
Yes, the VM where the run stops on is present in a cluster.
Running with debug loglevel provides this output

[code]

Looks like something goes wrong with creation of the virtual machine, however the logs say it receives a 200 after the POST on api/virtualization/virtual-machines for the VM name.
Creating the virtual machine through the GUI works fine, is the object data after creation:

[code]

[2020-08-08 18:25] gstorme commented on #125
When I check the apache logs of netbox, I only see GET requests that match this VM name.
No POST requests were made for it.

[2020-08-10 10:25] netvoip commented on #125
You should check more earlier logs related to this VM. It couldn't create interface because VM doesn't exist probably. VM couldn't be created because cluster doesn't exist. There might be root reason why cluster coudn't be created. In my case the cluster with name 'Cluster1' prevented the creation of 'Cluster1_new'. It also might be incompatible structure, play with clusters and folders hierarchy.

[2020-08-17 07:50] #125 closed, assigned to nobody

[2020-08-23 13:58] SerhiiZahuba opened #129 "Plugin dont work after update netbox to 2.9.1"
### Environment
Python version:  3.6.8
NetBox version:  2.9.1
vCenter version:  6.7.0 -->
* vCenter NetBox Sync version:

### Steps to Reproduce
1. After run plugin  i see

[root@netbox]# /bin/python3.6 /opt/vcenter-netbox-sync/run.py >/var/log/vcentersync.log
2020-08-23 15:56:17,690 [INFO] Created new HTTP Session for NetBox.
2020-08-23 15:56:17,785 [INFO] Detected NetBox API v2.9.
2020-08-23 15:

[2020-08-24 06:45] Djf2884 commented on #129
Same here, even after a cleanup, collect seem to work and stop with unexpected behavior.

also it seem not working properly with vcenter/esxi 7.0 which have been updated on API level.

[2020-08-24 09:38] gstorme commented on #129
Probably related to https://github.com/netbox-community/netbox/issues/3703
Can you paste a debug run log + results of `GET /api/dcim/sites/?name=vCenter`?

[2020-08-24 11:42] SerhiiZahuba commented on #129
2020-08-24 10:00:02,237 [INFO] Verifying all prerequisite objects exist in NetBox.
2020-08-24 10:00:02,268 [INFO] NetBox manufacturers object 'VMware' match current values. Moving on.
2020-08-24 10:00:02,304 [INFO] NetBox platforms object 'VMware ESXi' match current values. Moving on.
2020-08-24 10:00:02,329 [INFO] NetBox platforms object 'Windows' match current values. Moving on.
2020-08-24 10:00

[2020-08-24 12:41] gstorme commented on #129
Yes so this script is incompatible with Netbox >= 2.9.0 due to changes in the way tags are created.
Best to stay on 2.8 until a PR is submitted by someone with the necessary changes.

[2020-08-24 12:59] SerhiiZahuba commented on #129
@synackray  can you help ?

[2020-09-11 19:35] ypid opened #130 "Uncommon release date format"
### Environment

Not yet set up.

### Steps to Reproduce
1. Visit front page https://github.com/synackray/vcenter-netbox-sync
2. Look around and get scared by an impossible ISO 8601 date.

### Expected Behavior

See either a custom chosen date format (people sometimes like to invent their own stuff and ignore any standard that might already exist) or see a commonly known valid date.

This referenc

[2020-09-12 16:49] gstorme commented on #129
Not just the tags, but also the API changes in 2.9.0 for ipam.IPAddress cause the mapping between IP & virtual-machine to not work anymore.

[2020-09-16 07:57] bb-Ricardo commented on #130
now I spent half an hour on XKCD again, thanks

[2020-09-17 15:13] bb-Ricardo commented on #129
this will fix the tag issue: https://github.com/bb-Ricardo/vcenter-netbox-sync/commit/2d3052fd14bc3947b24e1da3927e93e4e44b6355

Will have a look at ip `ipam/ipaddress` next week.

[2020-09-17 15:20] bb-Ricardo opened #131 "fetch all data first and then only update changed objects"
**Is your feature request related to a problem? Please describe.**
Currently every object is requested separately to compare the vCenter attributes with NetBox attributes. This is very time consuming.

**Describe the solution you'd like**
All objects should be queried at the beginning, then compared and only the changed objects should be changed in NetBox.

Currently the Sync takes 1hour and 30 Mi

[2020-09-23 12:23] bb-Ricardo commented on #131
related to https://github.com/bb-Ricardo/vcenter-netbox-sync/issues/5

[2020-09-23 12:27] bb-Ricardo commented on #129
Well, we got some progress: https://github.com/bb-Ricardo/vcenter-netbox-sync/commit/9447109a12e18703954cd843c7bc2a6adb936285

Now all my items sync again as before.

Please check it out. All changes are also in #132

[2020-09-25 15:30] SerhiiZahuba commented on #129
![image](https://user-images.githubusercontent.com/36307887/94285828-e3ac1080-ff5c-11ea-84dc-87d7a929ff09.png)
I have a problem after updating the plug-in, all virtual servers were transferred to Standalone ESXi Host, they were previously synchronized with their server, for example, if the virtual machine is on the 192.168.50.170 server, then in the Cluster it will also be synchronized there. Now

[2020-09-25 16:23] SerhiiZahuba commented on #129
also, as you can see in the screenshot, some virtual servers are in their clusters, but the main part has moved to Standalone

[2020-09-25 20:43] bb-Ricardo commented on #129
That's very interesting as I didn't touch this part of code: https://github.com/bb-Ricardo/vcenter-netbox-sync/blame/9447109a12e18703954cd843c7bc2a6adb936285/run.py#L557

"Standalone ESXi Host" is used if the hosts cluster name is the same as the hosts name:
[code]
and Line: https://github.com/bb-Ricardo/vcenter-netbox-sync/blob/develop/run.py#L647
[code]

In my opinion the whole sync needs a comp

[2020-09-25 20:52] bb-Ricardo commented on #93
I didn't try it myself but can you have two virtual machines with the same name in netbox?

[2020-09-25 20:56] bb-Ricardo commented on #100
Also looked into it. For some strange reason you only get the network name from the guest tools. but the API should report the network names even without Guest tools installed.

[2020-09-25 20:58] gstorme commented on #93
No, VM name is unique

[2020-09-25 21:01] bb-Ricardo commented on #93
Id and name are the primary keys. Then the only solution would be to rename both VMs in netbox with their cluster name as suffix.

[2020-09-26 06:24] MalfuncEddie commented on #93
Hi,

This could be solved by adding a custom field UUID and using that as the
primary key.
In either case I've written a custom script that does juist that since I
also had the same cluster names in different vcenters :( .

kind regards

On Fri, Sep 25, 2020 at 11:01 PM Ricardo <notifications@github.com> wrote:

[2020-09-26 06:28] bb-Ricardo commented on #93
I was thinking the same.

How did you name your clusters then?
Vcenter name as prefix?

[2020-09-26 07:29] MalfuncEddie commented on #93
Yes I did

On Sat, Sep 26, 2020, 08:28 Ricardo <notifications@github.com> wrote:

[2020-10-06 10:02] MarcSN311 commented on #129
@bb-Ricardo I keep getting errors like this: `[DEBUG] NetBox 400 status reason: {"tags":[["Related objects must be referenced by numeric ID or by dictionary of attributes. Received an unrecognized value: Synced"],["Related objects must be referenced by numeric ID or by dictionary of attributes. Received an unrecognized value: vCenter"]]}`
I am on your develop branch

[2020-10-06 11:40] bb-Ricardo commented on #129
You're on NetBox version 2.9.X?

[2020-10-06 11:45] MarcSN311 commented on #129
I am on 2.9.4

[2020-10-06 11:46] fjasboka commented on #129
@MarcSN311 Not sure if it the exact same problem I ran into, but I had to delete the vCenter and Synced tag before running it.
I am running 2.9.4

[2020-10-06 11:48] MarcSN311 commented on #129
I am on a fresh install, I did not have any tags before running the sync.

EDIT: Nevermind, I found the issue on my end.

[2020-10-06 13:26] SerhiiZahuba commented on #129
@fjasboka

do you have a problem with clusters? like mine https://github.com/synackray/vcenter-netbox-sync/issues/129#issuecomment-698996038

or don't you use them?

[2020-10-07 06:45] fjasboka commented on #129
@SerhiiZahuba I did not run into that issue. It placed all the VMs in the correct cluster and also the ESXi servers.
![Screenshot_16](https://user-images.githubusercontent.com/67042744/95296688-8035b300-0879-11eb-80fb-ab8e896e57c7.png)

[2020-10-07 12:59] SerhiiZahuba commented on #129
Strange, I don’t understand what I’m doing wrong. All my virtual machines are migrated to the Standalone ESXi Host section.

[2020-10-08 19:35] bb-Ricardo commented on #93
Just stumbled across this issue. VM and Device names are NOT unique. Here a long discussion on this topic: https://github.com/netbox-community/netbox/issues/2669

[2020-10-25 08:44] ludvik78 commented on #129
Any progress on this issue?

[2020-10-26 15:42] bb-Ricardo commented on #129
currently trying to rewrite this whole process.

Hope I get all of this covered in here: https://github.com/bb-Ricardo/netbox-sync

[2020-11-06 19:37] bb-Ricardo commented on #129
I went down a rabbit hole and finally can see the light at the end of the tunnel again. This took way longer then expected (as usual).

Here you go: https://github.com/bb-Ricardo/netbox-sync

please test as much as you can: Debug logs are very welcome.

[2020-11-06 19:40] bb-Ricardo commented on #108
I went down a rabbit hole and finally can see the light at the end of the tunnel again. This took way longer then expected (as usual).

Here you go: https://github.com/bb-Ricardo/netbox-sync

please test as much as you can: Debug logs are very welcome.

[2020-11-06 19:41] bb-Ricardo commented on #100
I went down a rabbit hole and finally can see the light at the end of the tunnel again. This took way longer then expected (as usual).

Here you go: https://github.com/bb-Ricardo/netbox-sync

please test as much as you can: Debug logs are very welcome.

[2020-11-18 22:40] nathan-march commented on #129
Just gave it a first try and looks very promising! Only thing I've noticed so far is my vlans in vmware are named "123-name-10.0.0.0/24" and they get imported into netbox with the url encoded %2f instead of a / (when looking at the name column on the VM interface)

[2020-11-18 22:53] bb-Ricardo commented on #129
Great to hear.

Can you please open an issue for that. Would like to have a look at it.

Thank you.

[2020-12-14 19:58] clearly-tyler-whitney commented on #112
Could this be accomplished by ignoring adapters with a MAC address which does not match [VMWare's default OUI](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.networking.doc/GUID-1B6A280E-0C77-4775-8F84-4B3F40673178.html), i.e., 00:50:56?

Perhaps incorporating an options flag which defaults to True and making the OUI a configurable field would satisfy use cases where non-default